{% extends 'base.html' %}
{% load static%}
{% block title %} About {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About This Website!</h1>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'index'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>You get to find your perfect tech gadgets here! </h2>
          <p class="lead"></p>
          <img src="assets/img/about.jpg" alt="">
          <p class="mt-4">The aim behind this application is to provide a platform for users and rental products owners to communicate in an effective and efficient manner.
             Tech Gadget rentals is a website which is based on very simple ideology. This website has two main characters the seller and the buyer,
              these are two individuals located at different locations who don’t know each other,
               and it provides a common platform for them the seller and buyer to interact. 
               The seller can put up any product on rent, the buyer will view the product, its specifications
                and will then contact the seller for further information.</p>
        </div>
        <div class="col-md-4">
          <div class="card">
           <img class="card-img-top" src="{% static 'img/realtors/trio.jpg'%}" alt="Team Trio Pic">

            <div class="card-body">
              <h5 class="card-title">Developers</h5>
              <h6 class="text-secondary">Team Trio</h6>
              <p class="card-text">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4></h4>
    <hr>
    <a href="{%url 'listings'%}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

{% endblock %}